invoke==2.2.0
livereload==2.6.3
pelican==4.9.1
requests==2.31.0
ghp-import==2.1.0
## plugins
pelican-seo==1.2.2
pelican-simple-footnotes==1.0.2
pelican-sitemap==1.0.2
pelican_precompress==2.1.1
zopfli==0.2.2
pelican-render-math==1.0.3
markdown-include==0.8.1
pelican-markdown-include